/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EFF3F6; /* Adjusted background color for a subtle gradient effect */
}

*, *:before, *:after {
    box-sizing: border-box; /* Include padding and borders in all elements' total width and height */
}

body.login-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #262262, #C41889); /* Gradient background */
}

.background-image {
    position: absolute;
    right: 0; /* Position it at the left edge of the container */
    bottom: 0; /* Position it at the bottom of the container */
    width: 18vw; /* Consider using vw or vh for responsiveness */
    height: 20vw; /* Consider using vw or vh for responsiveness */
    background-image: url('../static/cornerleft.png');
    background-size: cover;
    background-position: center left; /* Adjust if you want to change how the image is positioned within the element */
    z-index: -1; /* Ensure it's behind the circle */
    transform: rotate(-360deg); /* Consider adjusting the rotation value */
}

.login-circle {
    position: absolute;
    width: 60vw; /* This makes the circle responsive */
    max-width: 500px; /* Maximum width to ensure it doesn't get too large on bigger screens */
    aspect-ratio: 1 / 1; /* Maintain the circle shape */
    background-color: #FFF; /* White background for the circle */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite; /* Keep the floating animation */
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-form h2 {
    color: #262262;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.login-form input {
    padding: 10px;
    width: 80%; /* Make input width responsive */
    max-width: 450px; /* Adjust based on design requirements */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .background-image {
        width: 50vw; /* Adjust width for smaller screens */
        height: auto; /* Adjust height to maintain aspect ratio */
    }

    .login-circle {
        width: 80vw; /* Increase width for smaller screens to ensure visibility */
    }

    .login-form input,
    .login-form button {
        width: 90%; /* Increase width percentage for smaller screens */
    }
}

/* Adjust button styling for both Log In and Sign Up */
.login-form button {
    padding: 10px 20px;
    width: 100%; /* Make the button width responsive */
    max-width: 450px; /* Maximum width to maintain a reasonable size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Space between buttons */
    font-size: 1rem; /* Adjust font size for better readability */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

/* Specific styling for the Log In button */
.login-btn {
    background-color: #C41889;
    color: white;
}

.login-btn:hover, .login-btn:focus { /* Focus added for accessibility */
    background-color: #a3157a;
    outline: none; /* Remove outline for a clean look, ensure accessibility through other means */
}

/* Specific styling for the Sign Up button */
.signup-btn {
    background-color: #FFF;
    color: #C41889;
    border: 2px solid #C41889; /* Adds a border to distinguish it from the Log In button */
    transition: all 0.3s; /* Smooth transition for hover and focus states */
}

.signup-btn:hover, .signup-btn:focus {
    background-color: #f2e2f2; /* Lighter pink background on hover/focus */
    color: #C41889; /* Ensure text color remains consistent */
    outline: none;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  .signup-submit-btn {
    background-color: #262262;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-submit-btn:hover {
    background-color: #C41889;
  }
  


/* Header Styles */
.app-header {
    display: flex;
    justify-content: space-between; /* Aligns logo to the left and profile icon to the right */
    align-items: center; /* Centers items vertically */
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Modern shadow effect */
    padding: 0 20px; /* Padding on the sides */
    box-sizing: border-box; /* Ensures padding does not affect overall width */
    position: fixed; /* Keeps the header at the top */
    top: 0;
    z-index: 1000;
    padding-left: 20px; 
}

/* Logo Style */
.app-header .logo {
    max-height: 15px; /* Max-height to maintain aspect ratio */
    max-width: 100%; /* Ensures the logo doesn't exceed its container width */
    width: auto; /* Maintains aspect ratio */
    height: auto; /* Maintains aspect ratio */
    /* If you want to set a specific width, replace 'auto' with a value like '120px' */
}

/* Profile Icon Style */
.profile-icon {
    /* Placeholder styles, replace with actual icon styles */
    width: 40px; /* Example size, adjust as needed */
    height: 40px; /* Example size, adjust as needed */
    background-color: #EFF3F6; /* Example background color */
    border-radius: 50%; /* Makes it circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header .profile {
    width: 24px; /* Adjust according to actual icon size */
    height: 24px; /* Adjust according to actual icon size */
    /* If using FontAwesome or similar, you can add the icon here */
}


/* Body is to allow the header to scroll zith the rest */
body {
    padding-top: 70px; /* This should be equal to or greater than the height of your app-header */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
    justify-content: flex-start; /* Align to the top */
    align-items: center;
    height: auto; /* Let the body grow as needed */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EFF3F6;
}

h1 {
    opacity: 0.7;
    font-size: 15px; /* Sets the size of the font */
    color: #262262; /* Sets the text color */
    text-align: center; /* Aligns text to the center */
    text-shadow: 2px 2px 4px #FFF; /* Adds a shadow to the text */
    margin-top: 5px; /* Adds space above the h1 */
    margin-bottom: 20px; /* Adds space below the h1 */
    font-family: 'Poppins', sans-serif; /* Sets the font family */
    font-weight: bold; /* Makes the font bold */
}

.week-gauges {
    display: flex;
    justify-content: space-around; /* Ensure even spacing and fit on all screen sizes */
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
    padding: 20px 0; /* Increase padding to give space below the header */
    margin-top: 5px; /* Adjust based on header height to prevent overlap */
    gap: 1px; /* Adjust gap between gauges */
    width: 100%; /* Ensures the container takes full width */
  }
  
  .gauge-container {
    position: relative;
    width: 100px; /* Fixed width for the gauge */
    height: 50px; /* Half height since it's a semi-circle */
    text-align: center; /* Center the day letter and date number */
    padding-inline: 2px ;
  }
  
  /* Positioning the day letter above the gauge */
  .day-letter {
    position: absolute;
    top: -20px; /* Position day letter above the gauge */
    width: 100%;
    font-size: 0.75rem;
    color: #262262;
    justify-content: center;
}

/* Adjust the size and position of the gauge canvas */
    .gauge canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Full width */
    height: 50px; /* Full height for a complete circle, half will be hidden */
    aspect-ratio: 1; /* Keep the aspect ratio to 1 to make it a circle */
  }

  .date-number {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%); /* Center in the middle of the gauge */
    font-size: 1rem; /* Larger font size for the date number */
    color: #262262; /* White text color */
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Sets the font family */
  }
  
  
  @media (max-width: 768px) {
    .week-gauges {
      justify-content: space-between; /* Adjust spacing on smaller screens */
    }
  
    .gauge-container {
      width: 60px; /* Reduce width on smaller screens */
      height: 30px; /* Reduce height on smaller screens */
    }
  
    .gauge canvas {
      width: 60px; /* Match container width */
      height: 60px; /* Match container width for a full circle */
    }
  
    .date-number {
      font-size: 0.75rem; /* Adjust font size for smaller screens */
    }
  }

 
  
/* Colorful Banner with Gradient */
.cognitive-banner {
    width: 100%; /* Full width */
    background: linear-gradient(to right, #262262, #C41889);
    color: white;
    text-align: center;
    /* Set padding to at least half the height of the circle widget to prevent cropping */
    font-size: 24px;
    font-weight: bold;
    position: relative; /* Required for absolute positioning of children */
    overflow: visible; /* Ensure the shadow of the circle-widget is not clipped */
    display: flex; /* To center the circle-widget horizontally */
    flex-direction: column; /* Organize children in a column */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    padding: 50px 0; /* Adjust based on the height of your SVG wave */
}

.banner-wave {
    position: absolute;
    bottom: 0; /* Adjust this value as needed, set to -1px to ensure no gap */
    width: 100%;
    height: auto;
    transform: rotate(180deg);
    background: linear-gradient(to right, #262262, #C41889); /* Adjust the fill color to match the wave's desired color */
}

/* Circle Widget Style */

.circle-widget {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center within its container */
    flex-direction: column;
    z-index: 5;
    /* No background or border specified here since it's handled by the SVG */
    margin-top: auto; 
}

.circle-widget svg {
    width: 100%; /* Ensure SVG fills the container */
    height: auto; /* Maintain aspect ratio */
    transform: rotate(-90deg); /* Rotate to start progress from the top */
}


.circle-content {
    position: absolute;
    font-size: 2.5rem; /* Large font size for the number */
    font-weight: bold; /* Bold font weight for the number */
    line-height: 1; /* Adjust line-height to fit the number vertically */
    justify-content: center; /* Center content vertically */
    color: #FFF; /* White color for the number */
    z-index: 10; /* Ensure number is above the SVG */

}


.data-label {
    font-size: 1.75rem; /* Smaller font size for the label */
    opacity: 0.7; /* Slightly transparent for less emphasis */
    margin-top: 10px; /* Space between the circle and the label */
    color: #FFF;
    text-align: center; /* Center the text */
    display: block; /* Ensure it's displayed as block for text-align to take effect */
    margin-top: 20px; /* Increase top margin if needed */
}

/* Graph Container Styles */
.graph-container {
    display: flex;
    flex-direction: column; /* Stack children vertically by default */
    align-items: center; /* Center children horizontally */
    width: 100%; /* Full width */
    gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the container */
}

/* Adjustments for Graph Titles */
.graph-container h1 {
    text-align: center; /* Center-align titles */
    width: 100%; /* Ensure the title spans the full width of its container */
    margin: 0 0 10px; /* Adjust margin to create space between title and graph */
}

/* Ensuring Graph Containers Have the Same Size */
.stress-fatigue-graph, .efficiency-graph {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    align-items: center; /* Center contents horizontally */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px; /* Space between graphs */
    width: 100%; /* Full width for responsiveness */
    max-width: 700px; /* Maximum width */
    min-height: 500px; /* Minimum height to ensure containers are the same size */
}


/* Responsive Design */
@media (min-width: 768px) {
    .graph-container {
        flex-direction: row; /* Side by side for larger screens */
        justify-content: space-evenly; /* Evenly space the graphs within the container */
        align-items: flex-start; /* Align items to the top */
    }
    
    .stress-fatigue-graph, .efficiency-graph {
        width: calc(50% - 20px); /* Adjust width for side by side layout, accounting for the gap */
        /* Ensure graphs have the same height */
        height: auto; /* Allow height to adjust based on content */
        max-height: 400px; /* Set a maximum height or adjust as needed */
    }
    
    /* Responsive Canvas Size */
    #stressFatigueChart, #efficiencyRadarChart {
        width: 100% !important;
        height: auto !important;
        aspect-ratio: 2 / 1;
    }
}



/* Additional Styling */
/* You can add more styles for fonts, buttons, or other elements as needed */