<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" type="text/css" href="../static/ui.css">
</head>
<body>
     <!-- Header with Logo -->
     <div class="app-header">
        <!-- Link to the logo image file -->
        <img src="../static/logo.png" alt="Logo" class="logo">
        <div class="profile-icon">
            <!-- Link to the profile icon image file -->
            <img src="../static/profile-icon.png" alt="Profile" class="profile">
        </div>
    </div>

    <div class="container">
                <!-- Profile Box -->
        <div class="floating-box profile-box">
            <div class="header">Welcome back Jane Doe</div>
            <div class="content">
                <p>Subscription Level: Premium</p>
                <p>Days of Analysis: 120</p>
                <p>Latest Session: 01/01/2024</p>
            </div>
        </div>

        <!-- Activity Reports Box -->
        <div class="floating-box activity-reports-box">
            <div class="header">
                <div class="reports-icon">
                    <!-- Link to the profile icon image file -->
                    <img src="../static/reportsicon.png" alt="Reports" class="reports">
                </div>
                <span class="header-text">Activity Reports</span>
            </div>
            <div class="content">
                <!-- List of files would be dynamically populated here -->
            </div>
        </div>

        <!-- Upcoming Activities Box -->
        <div class="floating-box upcoming-activities-box">
            <div class="header">
                <div class="checklist-icon">
                    <!-- Link to the profile icon image file -->
                    <img src="../static/check-list.png" alt="Checklist" class="checklist">
                </div>
                <span class="header-text">Your Upcoming Activities</span>
            </div>
            <div class="content">
                <!-- List of upcoming activities would be dynamically populated here -->
            </div>
        </div>

        <!-- Start New Session Box -->
        
        <div class="floating-box new-session-box">
            <div class="header">Start a New Session</div>
            <div class="content">
                <img src="../static/newactivity.png" alt="Play" class="play-button-image" />
            </div>
        </div>
        
    </div>
    <!-- Link to your JavaScript file -->
    <script src="scripts.js"></script>
</body>
</html>
